<div class="container">
  <h1>Edit</h1>
  <%= form_for @group do |f|%>
  <% if @group.errors.any? %>
    <% @group.errors.full_messages.each do |msg|%>
      <li><%= msg %></li>
    <% end %>
  <% end %>
    <%= f.text_field :title %>
    <%= f.text_area :description%>
    <%= f.submit "submit", :disable_with => 'submitting....'%>
  <% end %>
</div>
