<div class="container">
  <div class="pull-right">
    <%= link_to("new group",new_group_path, class: "btn btn-default")%>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>title</th>
        <th colspan="4">description</th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group|%>
        <tr>
          <td>#</td>
          <td><%= group.title%></td>
          <td><%= group.description%></td>
          <td>
            <%= link_to("Delete", group_path(group), method: :delete, class: "btn btn-default", data: {confirm: "are you sure?"})%>
            <%= link_to("Edit", edit_group_path(group), class: "btn btn-default")%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
